
<form [formGroup]="mainForm">
<mat-stepper [linear]="true" #stepper style="height: 100vh">
  <mat-step>
      <ng-template matStepLabel>Profil</ng-template>
      <app-form-child [username]="getFormControl('username')"></app-form-child>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step label="Connexion">
    <app-form-child-multiple [formGroup]="childForm"></app-form-child-multiple>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <button mat-button (click)="handleSubmit()">Submit</button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
</form>
